@use "/src/style/variables" as *;

.header {
  display: flex;
  justify-content: center;
  background-color: $color-Purple;
  min-width: 350px;

  &__logo-container {
    width: 100%;
    display: flex;
    padding: 1rem 0 0;
  }
  &__logo {
    width: 2rem;
    border-radius: 15px;
  }
  &__live-container {
    display: flex;
    align-items: center;
    width: 22rem;
    display: flex;
    padding: 1rem 0;
  }
  &__frame-time {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: $color-White;
    font-size: 12px;
    font-weight: 600;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-White;
    background-color: $color-Purple;
    border-radius: 4rem;
    width: 4rem;
    height: 1.4rem;
    border: none;
    font-size: 12px;
    font-weight: 600;
  }

  &__button--active {
    background-color: $color-Orchid;
  }
  &__time-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-White;
    background-color: $color-Purple;
    border-radius: 4rem;
    width: 4rem;
    height: 1.4rem;
    border: solid 1px $color-White;
  }
  &__dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__dropdown-arrow {
    background-color: $color-Purple;
    border: none;
    color: $color-White;
    border: solid 1px $color-White;
    border-radius: 10px;
    height: 1.4rem;
    font-size: 12px;
    font-weight: 600;
  }
  &__dropdown-content {
    width: 5rem;
    display: flex;
    flex-direction: column;
  }
}
