@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GothamMedium.ttf) format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GothamBold.ttf) format("TrueType");
  font-weight: 600;
}
